* {
    padding: 0;
    margin: 0;
}

body {
    color: white;
}
.container {
    padding: 1rem;
    display: grid;
    grid-template-areas: 
        'head head head'
        'asid navv navv'
        'asid arti arti'
        'foot foot foot'
    ;
    gap: 1rem;
}

.container > * {
    padding: 1rem;
    display: grid;
    place-items: center;
}
.radius {
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    background: #006157;
    grid-area: head;
}

.links {
    display: flex;
    gap: 2em;
}

.aside {
    background: #005B94;
    grid-area: asid;
    padding: 2em 4em;
}

.aside > * {
    background: white;
    color: black;
    padding: 3rem;
    width: 100%;
}

.nav {
    background: #642CDE;
    grid-area: navv;
    display: flex;
    justify-content: space-between;
}

.article {
    background: #7E1DC3;
    grid-area: arti;
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 1em;
}

.article > * {
    background: white;
    color: black;
    text-align: center;
    padding: 1em;
    border-radius: 5px;
}

.footer {
    background: #393F4D;
    grid-area: foot;
}